body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("assets/light_grey_dots_background.jpg");
}

header {
    background: #efeeee;
    color: #1b1b1b;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.tagline {
    margin-top: 2px;
    font-size: 1.2em;
    margin-bottom: 1px;
}
nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav a {
    color: #1b1b1b;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.8;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

.portrait {
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

.skills li::before {
    content: "*";
    padding-right: 5px;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info li i {
    font-size: 1.5em;
    padding-right: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    opacity: 0.8;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Place background behind other elements */
}

.content-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1; /* Place content on top of background */
}

.profile-picture {
    border-radius: 50%;
    margin-right: 40px;
}

.text-container {
    font-size: larger;
    width: 60%;
    color: #0f172a;
    text-align: left;
}

.text-container a {
    color: #003c00;
    text-decoration: underline;
}

.project-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.project-row {
    display: table-row;
}

.project-cell {
    display: table-cell;
    text-align: center;
    padding: 10px;
}

.project-image {
    max-width: 200px;
    max-height: 200px;
}

.project-name {
    margin-top: 10px;
    font-weight: bold;
}